
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/dbf40a93667355.5e6a5df5ae7e1.gif');">
  <div class="container">
    <h1><strong>Cocktails from all over the world</strong></h1>
    <p>Create your own cocktail and become a real mixologist!</p>
        <%= link_to "New cocktail", new_cocktail_path, class: "btn btn-primary"%>

  </div>
</div>



<div class="col-sm-12 col-md-6 col-lg-4">
  <ul>
    <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %></li>
    <li><%= link_to "#{cocktail.name}", cocktail_path(cocktail.id), class: "btn btn-primary"%></li>
    <% end %>
  </ul>
</div>





<div class="footer">
  <div class="footer-links">
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Massi Gale
  </div>
</div>



