<br>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://thumbs.gfycat.com/AlarmedDelightfulHomalocephale-size_restricted.gif');">
  <div class="container">
    <h1><strong>Today is your lucky day. Become a super heroe!</strong></h1>
    <p>Fighting doesn’t make you a hero. Creating your own cocktail yes!</p>
        <%= link_to "New cocktail", new_cocktail_path, class: "badge badge-light"%>
  </div>


<div class = "container" class="col-sm-12 col-md-6 col-lg-4">
  <ul>
    <br>
    <% @cocktails.each do |cocktail| %>
    <br>
    <li><%= link_to "#{cocktail.name}", cocktail_path(cocktail.id), class: "badge badge-light" %></li>
    <% end %>
      <br>
  </ul>
</div>


<div class="footer-copyright text-center py-3">This footer is made with <i class="fas fa-heart"></i> by Massi Galeotti
  <a href="https://github.com/MassiGale87"><i class="fab fa-github"></i></a>
</div>


