<br>
<div class="container">
  <h1>Heroe's Cocktail</h1>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://ae01.alicdn.com/kf/HTB1.aseXODxK1Rjy1zcq6yGeXXaO/2-Pcs-Freddo-Batman-Adesivi-per-Auto-12-11-Cm-Batman-Dc-Dark-Knight-Finestra-di.jpg');">





<div class="container">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://giffiles.alphacoders.com/140/140313.gif" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <h2>Hulk's Cocktail</h2>
          </h4>
          <p class="card-text">Don't make the Hulk hungry, try his cocktail.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://thumbs.gfycat.com/MiserlyDishonestFishingcat-size_restricted.gif" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <h2>Iron Man's Cocktail</h2>
          </h4>
          <p class="card-text">Two vodka martinis, very dry, many olives and very quickly.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://media2.giphy.com/media/mYQdtxWYVnVYY/source.gif" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <h2>Captain America's Cocktail</h2>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://i.pinimg.com/originals/11/6b/86/116b869c95b76a2a9c86d8e62413266c.gif" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <h2>Deadpool's Cocktail</h2>
          </h4>
          <p class="card-text">Whatever they did to me made me totally indestructible... and completely unf***able.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://media1.tenor.com/images/192ef7f9b4040aba6cb5fd4a86d85513/tenor.gif?itemid%3D11703035" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <h2>Venome's Cocktail</h2>
          </h4>
          <p class="card-text">We are Venom.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://i.gifer.com/WSYN.gif" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <h2>Thor's Cocktail</h2>
          </h4>
          <p class="card-text">Anyone who drinks this cocktail will be worthy of Thor's power.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->




  <div class="container">
    <div>
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>





<div class="container">
  <br>
  <%= link_to "Back to the Homepage", cocktails_path  %>
  <br>
</div>
